
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Hosted phishing pages can be read by anyone, but only created by authenticated users.
    match /hostedPages/{pageId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Chat messages can only be read or written by the sender or receiver.
    match /messages/{messageId} {
        allow read, write: if request.auth != null && (request.auth.uid == resource.data.sender.username || request.auth.uid == resource.data.receiver.username);
    }
    
    // Default-deny all other collections for security.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
