
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 220 10% 3%;
    --card: 0 0% 100%;
    --card-foreground: 220 10% 3%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 10% 3%;
    --primary: 220 10% 18%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 20% 94%;
    --secondary-foreground: 220 10% 18%;
    --muted: 210 20% 94%;
    --muted-foreground: 220 10% 45%;
    --accent: 220 80% 55%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 20% 85%;
    --input: 214 20% 85%;
    --ring: 220 10% 18%;
    --chart-1: 220 70% 50%;
    --chart-2: 173 58% 39%;
    --chart-3: 198 93% 60%;
    --chart-4: 43 96% 56%;
    --chart-5: 2, 92%, 59%;
  }

  .dark {
    --background: 210 10% 10%;
    --foreground: 210 10% 85%;
    --card: 210 10% 12%;
    --card-foreground: 210 10% 90%;
    --popover: 210 10% 10%;
    --popover-foreground: 210 10% 90%;
    --primary: 210 10% 23%;
    --primary-foreground: 210 10% 90%;
    --secondary: 210 10% 30%;
    --secondary-foreground: 210 10% 95%;
    --muted: 210 10% 18%;
    --muted-foreground: 210 10% 65%;
    --accent: 173 100% 74%;
    --accent-foreground: 210 10% 15%;
    --destructive: 0 70% 45%;
    --destructive-foreground: 0 100% 98%;
    --border: 210 10% 25%;
    --input: 210 10% 25%;
    --ring: 173 100% 74%;
  }
  
  body.theme-default, body.dark {
    --background: 210 10% 15%;
    --foreground: 210 16% 93%;
    --card: 210 10% 20%;
    --card-foreground: 210 16% 93%;
    --popover: 210 10% 15%;
    --popover-foreground: 210 16% 93%;
    --primary: 210 10% 23%;
    --primary-foreground: 210 16% 93%;
    --secondary: 210 8% 31%;
    --secondary-foreground: 210 16% 93%;
    --muted: 210 8% 31%;
    --muted-foreground: 210 10% 65%;
    --accent: 173 100% 74%;
    --accent-foreground: 210 10% 15%;
    --destructive: 0 70% 45%;
    --destructive-foreground: 0 100% 98%;
    --border: 210 8% 31%;
    --input: 210 8% 31%;
    --ring: 173 100% 74%;
  }
  
  body.light {
    --background: 210 20% 98%;
    --foreground: 220 10% 3%;
    --card: 0 0% 100%;
    --card-foreground: 220 10% 3%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 10% 3%;
    --primary: 220 10% 18%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 20% 94%;
    --secondary-foreground: 220 10% 18%;
    --muted: 210 20% 94%;
    --muted-foreground: 220 10% 45%;
    --accent: 220 80% 55%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 20% 85%;
    --input: 214 20% 85%;
    --ring: 220 10% 18%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .text-accent {
    text-shadow: 0 0 8px hsl(var(--accent) / 0.7);
  }
}
